<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BackupSequence" value="86400"/> <!-- 1 day -->
    <add key="AmazonS3AccessKey" value="YourAccessKey"/>
    <add key="AmazonS3SecretAccessKey" value="YourSecretKey"/>
    <add key="AmazonS3BucketName" value="YourBucketName"/>
    <add key="BackupServerName" value="YourServerName"/>
    <add key="BackupDatabaseName" value="YourDatabaseName"/>
    <add key="BackupPath" value="YourBackupFilePath"/>
    <add key="RestoreLocalBackup" value="False"/> <!-- actual only for upload -->
    <add key="UploadBackup" value="True"/> <!-- actual only for upload -->
    <add key="BackupServerLoginSecure" value="True"/> <!-- if true using windows authentication -->
    <add key="BackupServerLogin" value="YourSqlUserLogin"/> <!-- need only if BackupServerLoginSecure is false -->
    <add key="BackupServerPassword" value="YourSqlUserPassword"/> <!-- need only if BackupServerLoginSecure is false -->
  </appSettings>
</configuration>