<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BackupSequence" value="86400"/> <!-- 1 day -->
    <add key="AmazonS3ServiceURL" value="YourServiceURL"/>
    <add key="AmazonS3AccessKey" value="YourAccessKey"/>
    <add key="AmazonS3SecretAccessKey" value="YourSecretKey"/>
    <add key="AmazonS3BucketName" value="YourBucketName"/>
    <add key="BackupServerName" value="YourServerName"/>
    <add key="BackupDatabaseName" value="YourDatabaseName"/>
    <add key="BackupDirectory" value="YourBackupDirectoryPath"/>
    <add key="BackupName" value="YourBackupNameTemplate"/> <!-- {0} - date placeholder -->
    <add key="BackupLifetime" value="2592000"/> <!-- 30 days, 0 = infinity -->
    <add key="RestoreLocalBackup" value="True"/> <!-- actual only for upload -->
    <add key="InstantBackup" value="True"/> <!-- create backup on start -->
    <add key="UploadBackup" value="True"/> <!-- actual only for upload -->
    <add key="BackupServerLoginSecure" value="False"/> <!-- if true using windows authentication -->
    <add key="BackupServerLogin" value="YourSqlUserLogin"/> <!-- need only if BackupServerLoginSecure is false -->
    <add key="BackupServerPassword" value="YourSqlUserPassword"/> <!-- need only if BackupServerLoginSecure is false -->
  </appSettings>
</configuration>